#!/bin/sh

# Check if _SRC_DIR set to a non-empty string, assume this file is already sourced
[ -n "${_SRC_DIR:-}" ] && (return 0 2>/dev/null || exit 0)

# Get current working directory
_SRC_DIR="$(pwd)"

# Get the executing script filename
_SCRIPT_NAME="$(basename "$0")"

# Figure out if this file being sourced or executed
if [ "${_SCRIPT_NAME}" = ".envrc" ]; then
    echo "This file is meant to be sourced, not executed"
    (return 1 2>/dev/null || exit 1)
fi


_pushd() {
    command pushd "$@" > /dev/null
}

_popd() {
    command popd > /dev/null
}

(echo $PATH | grep ".asdf/bin" > /dev/null) || export PATH=$PATH:$HOME/.asdf/bin:$HOME/.asdf/shims

export _SRC_DIR