.venv/
.env.local
.env.*.local
__pycache__/
*.pyc
.ipynb_checkpoints
.mypy_cache/
.pytest_cache/
.pyre/
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.mo
*.sqlite3
instance/
.webassets-cache
.scriv/
celerybeat-schedule
celerybeat.pid
*.seed
*.pid
*.sqlite
*.db
*.db-journal
.virtual_documents/
mlruns/